body {
    background-color: black;
    text-align: center;
    color: white;
}

#console {
    display: flex;
    justify-content: center;
}

#grid {
    border-width: 1px;
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}



