body {
    background-color: black;
    text-align: center;
    color: white;
}

#console {
    display: flex;
    justify-content: center;
}

#grid {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



